.blog-container {
  margin: 1rem 3rem;
  text-align: left;
}

.blog-intro {
  margin: 3rem 0rem;
  text-align: center;
}

.blog-intro h1 {
  font-size: 7vw;
}

.blog-intro p {
  font-size: 4vw;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-summary-card {
  margin: 1rem 0;
  padding: 1rem;
  color: black;
  border-color: 343a45;
}

.blog-summary-card-title {
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin: 0.75rem 0rem 0rem 1rem;
}

.blog-summary-card-text {
  font-family: serif;
}

hr {
  border-top: 1px solid rgb(0 0 0 / 28%);
}

@media screen and (min-width: 500px) {
  .blog-intro h1 {
    font-size: 4vw;
  }
  .blog-intro p {
    font-size: 2vw;
  }
}
