body {
  text-align: center;
  background-color: #282c30;
  color: #d8d8d8;
  font-family: "Cardo", serif;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#header-photo {
  object-fit: fill;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0;
  background-color: #282c34;
  border: 0px;
  color: gray;
}

.btn {
  font-family: "Roboto Mono", serif;
}

.nav-item:hover {
  padding: 1vw;
  margin: 0;
  background-color: #282c34;
  border: 0px;
  color: #d8d8d8;
}

.btn-xxl {
  font-size: 1.25rem;
}

@media screen and (min-width: 460px) {
  .btn-xxl {
    font-size: 1.5rem;
  }

  .nav-item {
    margin: 0 5vw;
  }

  .nav-item:hover {
    margin: 0 5vw;
  }
}

.button-area {
  border: none;
}
